[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=annotations_editor
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Annotations Editor
Comment=Edit annotations in Krita documents